# fly.toml app configuration file generated for server-weathered-butterfly-9865 on 2026-01-24T23:36:24+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'server-weathered-butterfly-9865'
primary_region = 'nrt'

[build]

# [deploy]
#   release_command = 'npx prisma migrate deploy'

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
