.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 100%;
}

.spinner {
  height : 40px;
  width: 40px;
  border: 3px solid rgba(255, 219, 112, 0.1);
  border-radius: 50%;
  border-top-color: var(--accent-color);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { transform : rotate(360deg); }
}