.sidebarCard {
  text-align: center;
}

.avatarBox {
  background: var(--bg-secondary);
  border-radius: var(--radius-lg);
  display: inline-block;
  padding: 5px;
  margin-bottom: 5px;
}

.name {
  color: var(--text-white);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1px;
}

.title {
  color: var(--text-white);
  background: var(--border-color);
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 8px;
  display: inline-block;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--border-color);
  margin: 20px 0;
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  list-style: none;
  padding: 0;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 15px;
}

.iconBox {
  background: var(--bg-secondary);
  color: var(--accent-color);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--shadow);
  font-size: 18px;
}

.contactTitle {
  color: var(--text-light-gray);
  font-size: 11px;
  margin-bottom: 2px;
}

.contactValue {
  color: var(--text-white);
  font-size: 13px;
  font-style: normal;
}

.socialList {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 18px;
}

.socialLink {
  color: var(--text-light-gray);
  transition: var(--transition-smooth);
}

.socialLink:hover {
  color: var(--accent-color);
}